@font-face{
    font-family: "MuliBolt";
    src: url(/fonts/Muli-Bold.ttf);
}

.header{
    background: no-repeat url(/image/img/main-img.png);
    width: 1800px;
    height: 1200px;
} 
.menu__list{
    font-family: muli;
}