@font-face{
    font-family: "MuliBolt";
    src: url(/fonts/Muli-Bold.ttf);
    font-family: "MuliRegul";
    src: url(/fonts/Muli-Regular.woff);
    font-family: "MuliExtBolt";
    src:url(/fonts/Muli-ExtraBold.woff)
}
*{
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
.header{
    background: no-repeat url(/image/img/main-img.png);
    width: 1920px;
    height: 1080px;
} 
.header__top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu{
    display: flex;
    flex-direction: row;
}
.menu__list{

}
.menu__link{
    text-decoration: none;
    font-family: "MuliBolt", serif;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    margin-right: 35px;
}
.header__right{
    display: flex;
}
.personal__list{
    display: flex;
}
.personal__item{
    list-style-type:none;
    

}
.personal__counter{
    font-family: "MuliRegul" , serif;
    /*text-decoration: none;*/
    font-size: 10px;
    line-height: 40px;
    color: #000;
}
.social__list{
    display: flex;
}
.social__item{   
    padding: 5px 0 0 5px;
    list-style-type:none;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border:1px solid #fff;
    margin-right: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.personal__img{
    margin-right: 40px;
}
.social__icon{}

.header__btn{
    background-color: #0aa566;
    width: 280px;
    color:#fff;
    font-size: 24px;
    line-height: 40px;
    border: 1px solid #0aa566;
    border-radius:35%;
    -webkit-border-radius:35px;
    -moz-border-radius:35%;
    -ms-border-radius:35%;
    -o-border-radius:35%;
}
.header__content{
    display: flex;
    justify-content: center;
}
.smoothies{
    width: 1920px;
    height: 872px;
    border: 1px solid red;
}
.smoothies__top{}
.smoothies__title{
    font-family: "MuliExtBolt" , serif;
    font-size: 50px;
    color: #f7ae3b;
    line-height: 40px;
    text-align: center;
}
.smoothies__text{
    width: 915px;
    font-family: "MuliRegul", serif;
    font-size: 18px;
    color: #1e1e1e;
    line-height: 35px;
    text-align: center;
    margin-left: 650px;
}
.smoothies__content{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.smoothies__card{
    height: 180px;
    width: 245px;
}
.smoothie__img{
    display: block;
    margin: 0 auto;
}
.smoothie__caption{
    font-family: "MuliExtBolt" , serif;
    font-size: 25px;
    color: #f2612d;
    line-height: 40px;
    text-align: center;
}