@font-face{
    font-family: "MuliBolt";
    src: url(/fonts/Muli-Bold.ttf);
    font-family: "MuliRegul";
    src: url(/fonts/Muli-Regular.woff);
    font-family: "MuliExtBolt";
    src:url(/fonts/Muli-ExtraBold.woff)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
.header{
    background: no-repeat url(../image/img/main-img.png);
    width: 1920px;
    height: 1080px;
} 
.header__top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu{
    display: flex;
    flex-direction: row;
}
.menu__list{

}
.menu__link{
    text-decoration: none;
    font-family: "MuliBolt", serif;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    margin-right: 35px;
}
.header__right{
    display: flex;
}
.personal__list{
    display: flex;
}
.personal__item{
    list-style-type:none;
    

}
.personal__counter{
    font-family: "MuliRegul" , serif;
    /*text-decoration: none;*/
    font-size: 10px;
    line-height: 40px;
    color: #000;
}
.social__list{
    display: flex;
}
.social__item{   
    padding: 5px 0 0 5px;
    list-style-type:none;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border:1px solid #fff;
    margin-right: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.personal__img{
    margin-right: 40px;
}
.social__icon{}

.header__btn{
    background-color: #0aa566;
    width: 280px;
    color:#fff;
    font-size: 24px;
    line-height: 40px;
    border: 1px solid #0aa566;
    border-radius:35%;
    -webkit-border-radius:35px;
    -moz-border-radius:35%;
    -ms-border-radius:35%;
    -o-border-radius:35%;
}
.header__content{
    display: flex;
    justify-content: center;
}
.smoothies{
    width: 1920px;
    height: 872px;
    border: 1px solid red;
}
.smoothies__top{}
.smoothies__title{
    font-family: "MuliExtBolt" , serif;
    font-size: 50px;
    color: #f7ae3b;
    line-height: 40px;
    text-align: center;
}
.smoothies__text{
    width: 915px;
    font-family: "MuliRegul", serif;
    font-size: 18px;
    color: #1e1e1e;
    line-height: 35px;
    text-align: center;
    margin-left: 650px;
}
.smoothies__content{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.smoothies__card{
    height: 180px;
    width: 245px;
}
.smoothie__img{
    display: block;
    margin: 0 auto;
}
.smoothie__caption{
    font-family: "MuliExtBolt" , serif;
    font-size: 25px;
    color: #f2612d;
    line-height: 40px;
    text-align: center;
}

.about{
    background-color: #158273;
    height: 800px;
    width: 1920px;
    display: flex;
    justify-content: space-evenly;
}
.about__img-wrap{}
.about__img{
    margin-top: 60px;
}
.about__content{
    margin-left: 140px;
}
.about__title{
    font-family: "MuliExtBolt" , serif;
    font-size: 55px;
    line-height: 60px;
    color: #fff;
}
.about__green-text{
    color: #cae941;
}
.about__list{
    font-family: "MuliExtBolt" , serif;
    font-size: 21px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 55px;
    
}
.about__item{}
.about__btn{
    font-family: "MuliExtBolt" , serif;
    font-size: 21px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    padding: 20px 95px 20px 35px;
    border: 6px solid #f8b231;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.products{
    font-family: "MuliExtBolt" , serif;
    color: #fff;
}
.products__inner{
    display: flex;
}
.product{
    width: 480px;
    height: 720px;
}
#first-background{
    background-image: url(../image/img/brown-fon.png);
}
#second-background{
    background-image: url(../image/img/mentol-fon.png);
}
#third-background{
    background-image: url(../image/img/lemon-fon.png);
}
#fourth-background{
    background-image: url(../image/img/orange-fon.png);
}
.product__img{
    padding: 130px 175px 0px 175px;
}
.product__caption{

    font-size: 21px;
    line-height: 22px;
    text-align: center;
}
.product__volume{
    font-family: "MuliRegul", serif;
    font-size: 21px;
    line-height: 22px;
    display: block;
    text-align: center;
}
.product__btn{
    padding: 21px 120px 21px 35px;
    margin: 60px 130px 80px 160px;
    display: block;
    font-family: "MuliExtBolt" , serif;
    color: #fff;
    width: 95px;
    border: 1px solid #fff;
    background:rgba(128, 255, 0, 0);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.story{
    border: 1px solid red;
    height: 880px;
    width: 1920px;
}
.story__inner{
    display: flex;
    justify-content: space-evenly;
}
.story__content{
    width: 510px;
    margin: 260px 0 490px 0;
}
.stoty__title{
    font-family: "MuliExtBolt" , serif;
    font-size: 50px;
    line-height: 40px;
    color: #f7ae3b;
    margin-bottom: 50px;
}
.story__text{
    font-family: "MuliRegul", serif;
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
    margin-bottom: 65px;
}
.story__btn{
    padding: 20px 100px 20px 50px;
    font-family: "MuliExtBolt" , serif;
    background-color: #0aa566;
    width: 300px;
    height: 80px;
    color:#fff;
    font-size: 21px;
    text-decoration: none;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
.story__img-wrap{}
.story__img{
    padding: 115px 0px 160px 0;
    
}

.testimonials{
    width: 1920px;
    height: 720px;
    background-image:url(../image/img/testimonial-fon.png);
    
}
.testimonials__title{
    font-family: "MuliExtBolt" , serif;
    font-size: 50px;
    line-height: 40px;
    color: #f7ae3b;
    text-align: center;
    padding: 110px 0 131px 0;
    
}
.testimonials__orange-text{
    color: #f2612d;
    text-transform: uppercase;
}
.testimonials__slider{
    display: flex;
    justify-content: center;
}
.testimonials__slide{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.testimonials__quote{
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    width: 450px;
    
}
.testimonials__cite{
    color: #f7ae3b;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    width: 460px;
}
.testimonials__img{
    width: 220px;
}
.testimonials__button-block{}
.testimonials__btn{}

.blog{}
.blog__title{
    font-family: "MuliExtBolt" , serif;
    color: #f7ae3b;
    font-size: 50px;
    line-height: 40px;
}
.blog__img{}
.blog__article{}
.blog__preview{}
.blog__subtitle{}
.blog__date{}
.blog__text{}
.blog__text-link{}