@media screen and (max-width:1880px) {
    .testimonials__title::after {
        display: none;
    }
}

@media screen and (max-width:1880px) {
    .footer__inner {
        max-width: 1600px;
    }
    .subscription__newsletter {
        min-width: 435px;
    }
}

@media screen and (max-width:1600px) {
    .footer__inner {
        max-width: 1350px;
    }
    .subscription__newsletter {
        min-width: 365px;
    }
    .subscription__newsletter-wrap::after {
        left: 69px;
    }
    .subscription__wrap-social {
        flex-direction: column;
    }
    .subscription__btn {
        margin-left: 125px;
    }
    .subscription__social {
        margin: 15px auto 0px;
    }
}


@media screen and (max-width:1400px) {
    .story__inner {
        max-width: 1120px;
    }
    .story__content {
        max-width: 462px;
        margin: 244px 180px 0 0;
    }
    .story__img-wrap {
        margin: 118px 0 120px;
    }
    .gallery {
        overflow-x: auto;
    }

    .gallery__card {
        min-width: 381px;
    }
    .footer__inner {
        max-width: 1260px;
    }
    
}

@media screen and (max-width:1330px) {
    .header__inner {
        max-width: 1380px;
        margin: 0 auto;
    }
    .menu__item {
        margin-right: 20px;
    }
    .about__img-wrap {
        margin: 60px 45px 0px 0px;
    }
    .subscription__newsletter {
        min-width: 300px;
    }
}
@media screen and (max-width:1250px) {
    .header__navigation{
        display: none;
        position: fixed;
        background-color: #0aa566;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999999;
        /* display: flex; */
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 150px;
    }
    .header__burger-btn{
        display: block;
        z-index: 9999999;
    }
    .header__burger-btn-icon {
        width: 55px;
    }
    .header__top {
        padding: 155px 0 120px 0;
    }
    .header__right-block{
        margin: 0 auto 100px;
    }
    .menu{
        margin: 0 auto;
        justify-content: center;
    }

    .menu__list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menu__item{
        margin: 0 0 50px;
    }
    .about__img-wrap {
        margin: 50px 27px 0px 0px;
    }
    .about__content {
        max-width: 605px;
    }
    .about__title {
        font-size: 55px;
    }
    .about__btn {
        margin-bottom: 60px;
    }
    .product__caption {
        font-size: 20px;
    }
    .blog {
        max-width: 978px;
    }
    .blog__img-wrap {
        margin-right: 60px;
    }
    .blog__subtitle {
        margin-top: 75px;
    }

}

@media screen and (max-width:1180px) {
    .story__inner {
        max-width: 940px;
    }
    .story__content {
        max-width: 399px;
        margin: 177px 120px 0 0;
    }
    .story__img-wrap {
        margin: 118px 0 95px;
    }
    .story__img-wrap::after {
        left: 505px;
    }
    .footer__inner {
        max-width: 940px;
    }
    .payment__block {
        width: 230px;
    }
    .subscription__newsletter {
        min-width: 278px;
    }
    .subscription__newsletter-wrap::after {
        left: 21px;
    }
    .subscription__btn {
        margin-left: 68px;
    }
}

@media screen and (max-width:995px) {
    .about__inner {
        max-width: 960px;
    }
    .about__content {
        max-width: 450px;
    }
    .about__title {
        font-size: 42px;
    }
    .about__title::after {
        content:"";
        position: absolute;
        background-image: url("./../images/img/Line.png");
        width: 400px;
        height: 10px;
        top: 116px;
        left: -5px;
    }
    .about__list {
        font-size: 20px;
    }
    .product__btn {
        width: 170px;
    }
    .story__inner {
        max-width: 710px;
    }
    .story__content {
        max-width: 309px;
        margin: 177px 60px 0 0;
    }
    .stoty__title {
        margin-bottom: 44px;
    }
    .story__text {
        font-size: 17px;
        margin-bottom: 33px;
    }
    .story__img-wrap {
        margin: 87px 0 150px;
    }
    .story__img-wrap::after {
        top: 71px;
        left: 215px;
    }
    .testimonials__quote::before {
        font-size: 170px;
        bottom: 109%;
        left: -35%;
    }
    .blog {
        max-width: 854px;
    }
    .blog__img-wrap {
        margin-right: 10px;
    }
    
    .blog__subtitle::before {
        right: 15px;
    }
    .blog__text {
        padding-left: 40px;
        margin-top: 26px;
    }
    .footer__inner {
        max-width: 600px;
        flex-wrap: wrap;
    }
    .footer__logo {
        width: 100%;
        justify-content: center;
        margin-top: 80px;
    }
    .footer__information {
        width: 50%;
        margin: 0 auto;
    }
    .footer__payment {
        width: 50%;
        margin: 0 auto;
    }
    .payment__block {
        width: 300px;
    }
    .footer__subscription {
        width: 93%;
        margin: -50px auto 85px;
    }
    .subscription__newsletter {
        min-width: 497px;
    }
    .subscription__newsletter-wrap::after {
        left: 121px;
    }
    .subscription__wrap-social {
        flex-direction: row; 
    }
    .subscription__btn {
        margin-left: 176px;
    }
}

@media screen and (max-width:860px) {
    .about__title {
        font-size: 35px;
    }
    .about__list {
        font-size: 18px;
    }
    .about__title::after {
        width: 360px;
    }
    .blog {
        max-width: 782px;
    }
    .blog__subtitle {
        font-size: 27px;
    }
    .blog__text {
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    .header__burger-btn-icon {
        width: 40px;
    }
    .header__logo {
        top: 100px;
    }
    .smoothies__title{
        margin: 50px 0 23px;
        font-size: 45px;
    }
    .smoothies__text {
        max-width: 700px;
    }
    .smoothies__content {
        max-width: 540px;
        margin-bottom: 120px;
    }
    .smoothies__card {
        flex: 0 1 calc(100% / 2);
    }
    .smoothies__card:first-child, .smoothies__card:nth-child(3), .smoothies__card:nth-child(5) {
        border-right: 3px solid #f6edde;
        border-bottom: 3px solid #f6edde;
    }
    .smoothies__card:nth-child(2), .smoothies__card:nth-child(4), .smoothies__card:nth-child(6) {
        border-bottom: 3px solid #f6edde;
    }
    .smoothies__card:nth-child(7) {
        border-right: 3px solid #f6edde;
    }
    .smoothies__card:nth-child(2), .smoothies__card:nth-child(6){
        border-right: none;
    }
    .about__inner {
        flex-wrap: wrap;
    }
    .about__img-wrap {
        margin: 60px 60px -25px 70px;
    }
    .about__content{
    margin-left: 35px;
    }  
    .about__btn {
        margin-bottom: 100px;
    }  
    .products__inner {
        overflow-x: auto;
    }
    .product {
        min-width: 480px;
        padding: 129px 0 78px;
    }
    
    .product__img {
        margin-bottom: 32px;
    }
    .product__caption {
        font-size: 21px;
        margin-bottom: 13px;
    }
    .product__volume {
        margin-bottom: 60px;
    }
    .product__btn {
        width: 205px;
    }
    .story__inner {
        flex-wrap: wrap;
    }
    .story__content {
        max-width: 530px;
        margin: 71px 0px 0 36px;
    }
    .stoty__title {
        font-size: 44px;
        margin-bottom: 42px;
    }
    .story__text {
        font-size: 17px;
        margin-bottom: 47px;
    }
    .story__btn {
        padding-left: 28px;
        width: 297px;
    }
    .story__img-wrap {
        margin: 82px 0px 76px 155px;
    }
    .story__img-wrap::after {
        content: url(../image/img/Stamp.png);
        position: absolute;
        top: 503px;
        left: -12px;
    }

    .testimonials__title {
        padding-top: 117px;
        margin-bottom: 97px;
    }
    
    .testimonials__slider {
        max-width: 500px;
        flex-direction: column-reverse;
    }
    .testimonials__slide {
        margin: -13px 0 0 0;
    }

    .testimonials__quote {
        font-size: 17px;
        margin-bottom: 17px;
    }

    .testimonials__quote::before {
        display: none;
    }
    .testimonials__cite {
        margin-bottom: 100px;
    }
    .testimonials__img {
        margin: 0 auto 94px;
    }

    .blog {
        max-width: 694px;
    }
    
    .blog__inner {
        flex-wrap: wrap;
    }


    .blog__img-wrap {
        width:100%;
        margin-bottom: -42px;
    }
    .blog__img {
        width: 100%;
    }
    .blog__subtitle::before {
        display: none;
    }
    .blog__subtitle {
        margin-top: none;
        margin-bottom: 4px;
    }

    .blog__text {
    margin-bottom: 145px;
    }

    .instagram__link {
        padding-left: 109px;
    }
    .instagram__link::before {
        left: 70px;
    }

    .footer__inner {
        max-width: 550px;
    }

    .footer__logo {
        width: 100%;
        justify-content: center;
        margin-top: 90px;
    }

    .footer__information {
        width: 45%;
        margin: 0 auto;
    }    

    .footer__title {
        margin: 57px 0 23px;
    }

    .footer__payment {
        width: 43%;
        margin: 0 auto;
    }

    .payment__block {
        margin-bottom: 6px;
        width: 253px;
    }


    .footer__subscription {
        width: 93%;
        margin: 0 auto 85px;
    }

    .subscription__newsletter {
        padding-left: 62px;
        min-width: 495px;
    }

    .subscription__wrap-social {
        justify-content: space-evenly;
    }

    .subscription__btn {
        margin-left: 147px;
    }
    .subscription__newsletter-wrap::after {
        left: 94px;
    }


    .footer__btn-top {
        bottom: 44px;
        right: 14px;
    }

    .footer__bottom {
        font-size: 20px;
    }
}

@media screen and (max-width:576px) {
    .header__right-block {
        flex-direction: column;
    }
    .header__personal {
        margin:0 auto 35px;
    }
    .personal__list::after {
        display: none;
    }
    .smoothies__title {
        margin: 45px 0 25px;
        font-size: 35px;
    }
    .smoothies__text {
        max-width: 540px;
        margin: 0 auto 44px;
    }
    .smoothies__content {
        max-width: 480px;
        margin-bottom: 90px;
    }
    .smoothie__caption {
        font-size: 23px;
    }
    .about__btn {
        width: 348px;
    }
    .about__btn::after {
        left: 290px;
    }
    .product {
        min-width: 400px;
    }
    .story__img-wrap::after {
        display: none;
    }
    .story__img-wrap {
        margin: 82px 0px 76px 47px;
    }
    .testimonials__quote::before {
        display: none;
    }
    .blog {
        max-width: 410px;
    }
}

@media screen and (max-width:428px) {
    .about__title {
        font-size: 28px;
        line-height: 45px;
    }
    .about__title::after {
        top: 90px;
        width: 300px;
}
    .about__list {
        font-size: 16px;
    }
    .about__btn {
        font-size: 18px;
        width: 300px;
        height: 56px;
        margin-bottom: 75px;
    }
    .about__btn::after {
        left: 250px;
    }
    .blog {
        max-width: 315px;
    }
    .blog__text {
        padding-left: 35px;
        font-size: 16px;
        margin-bottom: 130px;
    }
    .blog__text-link {
        font-size: 14px;
    }
}

@media screen and (max-width:360px) {
    .header__burger-btn {
        position: fixed;
        top: 20px;
        right: 15px;
    } 
    .smoothies__title {
        margin: 36px 0 29px;
        font-size: 40px;
        line-height: 48px;
    } 
    
    .smoothies__text {
        max-width: 325px;
    }
    
    .smoothies__content {
        max-width: 450px;
    }
    .product {
        min-width: 295px;
    }
    .product__caption {
        font-size: 18px;
    }
    .product__volume {
        font-size: 17px;
    }
    .product__btn {
        width: 190px;
    }

}    