.story__inner{
    max-width:1310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.story__content{
    max-width: 524px;
    margin: 260px 200px 0 0;
    
}

.stoty__title{
    font-family: "MuliExtBold" , sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 40px;
    color: #f7ae3b;
    margin-bottom: 44px;
}

.story__text{
    font-family: "MuliRegul", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
    letter-spacing: 0.5px;
    margin-bottom: 47px;
}

.story__btn{
    padding-left: 46px;
    display: block;
    font-family: "MuliExtBold" , sans-serif;
    font-weight: 600;
    background-color: #0aa566;
    width: 313px;
    height: 59px;
    color:#fff;
    font-size: 21px;
    line-height: 60px;
    text-decoration: none;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    position:relative;
}

.story__btn::after{
    content:url("./../images/icon/arrow.png");
    position:absolute;
    top: 2px;
    left: 191px;
}

.story__img-wrap{
    margin: 120px 0 155px;
}

.story__img{
    max-width: 100%;
    
}

.story__img-wrap::after{
    content:url("./../images/img/Stamp.png");
    position: absolute;
    top: 143px;
    left: 564px
}
