@font-face{
    font-family: "MuliBold";
    src: url("./../fonts/Muli-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: 700;
}
@font-face{
    font-family: "MuliRegul";
    src: url("./../fonts/Muli-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "MuliExtBold";
    src: url("./../fonts/Muli-ExtraBold.ttf") format("ttf");
    font-style: normal;
    font-weight: 600;
}

*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: block;
}

// .logo__link{
//     display: block;
// }

@import "./button";
@import "./header";
@import "./media";
@import "./menu";
@import "./personal";
@import "./social";
@import "./smoothies";
@import "./about";
@import "./products";
@import "./product";
@import "./story";
@import "./testimonials";
@import "./blog";
@import "./instagram";
@import "./gallery";
@import "./footer";
@import "./information";
@import "./payment";
@import "./subscription";

