@import "./abstracts/variables";
@import "./abstracts/mixins";

@font-face{
    font-family: "MuliBold";
    src: url("./../fonts/Muli-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: "MuliRegul";
    src: url("./../fonts/Muli-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "MuliExtBold";
    src: url("./../fonts/Muli-ExtraBold.ttf") format("ttf");
    font-style: normal;
    font-weight: 600;
}

a{
    display: block;
}


@import "./normalize";


@import "./layout/header";
@import "./layout/menu";
@import "./personal";
@import "./social";
@import "./components/button";
@import "./smoothies";
@import "./about";
@import "./products";
@import "./product";
@import "./story";
@import "./testimonials";
@import "./blog";
@import "./instagram";
@import "./gallery";
@import "./layout/footer";
@import "./information";
@import "./payment";
@import "./subscription";

@import "./media";