.footer{
    display: flex;
    flex-direction: column;
    &__top{
        background-color:#f2ad39;  
    }
    
    &__inner{
        max-width: 1700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    &__logo{
        width: 30%;
        display: flex;
        justify-content: flex-start;
        margin-top: 130px;
    }
    
    &__title{
        font-family: "MuliExtBold" , sans-serif;
        font-weight: 600;
        color: #fff;
        font-size: 26px;
        line-height: 40px;
        margin: 67px 0 23px;
    }
    
    &__information{
        width: 18%;
    }
    
    &__payment{
        width: 24%;
    }
    
    &__subscription{
        width: 28%;
    }
    
    &__bottom{
        min-height: 60px;
        background-color: #692f20;
        text-align: center;
        font-family: "MuliRegul", sans-serif;
        color: #af8a82;
        font-size: 13px;
        line-height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    &__btn-top{
        width: 50px;
        height: 50px;
        background-color:#f2662f;
        position: fixed;
        bottom: 38px;
        right: 86px;
        opacity: 0;
        transition: display 10s;
        -webkit-transition: display 10s;
        -moz-transition: display 10s;
        -ms-transition: display 10s;
        -o-transition: display 10s;
        &::before{
            content: url("./../images/icon/arrow-up.png");
            position: absolute;
            top: 3px;
            left: 19px;
        }
        &::after{
            content:"Go top";
            font-family: "MuliBold" , sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 35px;
            color:#fff;
            position: absolute;
            top: 42px;
            left: -61px;
        }
    }
}