.menu{
    &__list{
        display: flex;
    }
    
    &__item{
        margin-right: 33px;
    }
    
    &__item:last-child{
        margin-right: 0;
    }
    
    &__link{
        text-decoration: none;
        font-family: "MuliBold", sans-serif;
        font-weight: 700;
        color: $mainColor;
        font-size: 16px;
        line-height: 40px;
        text-transform: uppercase;
        flex-direction: row;
    }
}
